.wadah2 {
    text-align: center;
}

.col2 {
    text-align: left;
    padding-bottom: 15px;
}

.row2 {
    padding-top: 15px;
}

.gambar1 {
    width: 100%;
    height: auto;
}

.ket {
    padding-left: 30px;
}